:root {
    --font-family: Playfair Display, serif;
--btn-color: #6B63FF;
}

h1 {
font-size: 500px;
text-align: center;
} 

h2 {
    font-size: 34px;
    text-align: center;

}

h3 {
    text-align: center;
}

.primary-link {
background-color: var(--btn-color);
color: white;
text-decoration: none;
padding: 18px 10px;
border-radius: 6px;
}

.secondary-link {
   background-color: white;
   color:var(--btn-color);
   border: 1px solid var(--btn-color);
   text-decoration: none;
   padding: 18px 10px;
   border-radius: 6px;
   }
   