:root {
--primary-color: #6B63FF;
--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
font-size: 95px!important;
text-align: center;
} 

h2 {
    font-size: 45px!important;
    text-align: center;

}

h3 {
font-size: 24px!important;
 text-align: center;
 color: #646669!important;
}

.primary-link {
 text-align: center!important;
background-color: var(--primary-color);
color: white;
text-decoration: none;
padding: 20px 15px;
border-radius: 6px;
box-shadow: var(--box-shadow);
}

.secondary-link {
    text-align: center!important;
   background-color: white;
   color:var(--primary-color);
   border: 1px solid var(--primary-color);
   text-decoration: none;
   padding: 20px 15px;
   border-radius: 6px;
   }

   h5 {
    font-size: 40px!important;
   }

   .card {
    max-width: 80%;
    padding: 80px 35px;
   }
   .card-title {
    font-size: 48px!important;
   }

   .card-text {
    font-size: 16px!important;
   }

   .yoga-btn {
    background-color: var(--primary-color);
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    font-size:15px;
    border-radius: 6px;
   }

   .weather-btn {
    background-color: var(--primary-color);
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    font-size:15px;
    border-radius: 6px;
   }

   .weather-img{
    max-width: 620px;
    
   }

   .about {
    text-align: center;
    padding: 40px 0px;
   }
   
   p {
    padding: 0px 45px;
   }

.imgs {
width: 440px;
height: 440px;

box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
border: 10px solid white;
border-radius: 6px;
}

@media (max-width:576px) {
    h1{
        font-size: 48px!important;
        text-align: center;
    }

    h2 {
        font-size: 40px!important;
    }

    .card-title {
        font-size: 28px!important;
        text-align: center;
    }

    .imgs {
        margin-bottom: 30px;
    }

}