:root {
--primary-color: #6B63FF;
}

h1 {
font-size: 95px!important;
text-align: center;
} 

h2 {
    font-size: 45px!important;
    text-align: center;

}

h3 {
font-size: 24px!important;
 text-align: center;
 color: #646669!important;
}

.primary-link {
background-color: var(--primary-color);
color: white;
text-decoration: none;
padding: 18px 10px;
border-radius: 6px;
}

.secondary-link {
   background-color: white;
   color:var(--primary-color);
   border: 1px solid var(--primary-color);
   text-decoration: none;
   padding: 18px 10px;
   border-radius: 6px;
   }
   